
   :root {
    --primary-blue: #261FB3;
    --secondary-blue: #3D90D7;
    --hover-blue: #60B5FF;
    --text-dark: #000000;
    --bg-light: #EFF3EA;
    --shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    --transition: 0.3s ease-in-out;
  }
  
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  nav {
    height: 4rem;
    width: 100%;
    background: var(--bg-light);
    display: flex;
    align-items: center;
    /* padding: 0 2rem; */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  nav a {
    font-size: 1.5rem;
    color: var(--text-dark);
    text-decoration: none;
    margin-top: 0.3rem;
    display: flex;
    margin-left: 2rem;
  }
  
  nav a span {
    color: #213448;
    margin-left: 0.3rem;
  }
  
  nav a:hover,
  nav li:hover {
    text-decoration: underline 0.2rem var(--primary-blue);
  }
  
  nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-right: 2rem;
    margin-top: 0.3rem;
    flex-wrap: wrap;
  }
  
  nav ul li {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: var(--transition);
  }
  
  .nav-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .nav-2-1 ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding-left: 1rem;
  }
  
  .nav-2-1 ul a {
    color: var(--primary-blue);
    cursor: pointer;
  }
  
  .nav-2-1 ul a:hover {
    text-decoration: underline 0.2rem var(--text-dark);
  }
  
  .nav-2-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 0 1rem; */
    width: 100%;
    background-color: #EFEFEF;
    margin-top: 0.2rem;
  }
  
  .nav-2-2 h1,
  .nav-2-2 h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    margin-right: 3rem;
  }
  
  .nav-2-2 h2 span {
    margin-left: 1rem;
    color: var(--primary-blue);
    cursor: pointer;
    font: 1.5rem serif;
    font-weight: lighter;
  }
  
  .nav-2-2 h2 span:hover {
    text-decoration: underline 0.3rem var(--text-dark);
  }
  
  #searchInput {
    height: 2rem;
    width: 8rem;
    /* width: 100%; */
    /* max-width: 15rem; */
    border: none;
    border-radius: 10px;
    outline: none;
    transition: var(--transition);
    padding: 0 0.5rem;
    /* margin-top: 1rem; */
  }
  
  #searchInput:hover {
    background: var(--hover-blue);
    width: 20rem;
  }
  
  input::placeholder {
    color: #205781;
  }
  
  .counter {
    font-weight: lighter;
    /* margin-left: 7rem; */
    font-size: 2rem;
    padding-left: 4rem;
  }
  
  .pop-up {
    width: 100%;
    max-width: 20rem;
    background: var(--secondary-blue);
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  
  .img {
    height: 6rem;
    width: 100%;
    height: 15rem;
    /* object-fit: cover; */
    max-width: 100%;
    margin-top: 1rem; 
  }
  
 
  .main {
    height: 33rem;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    row-gap: 3rem; 
    padding: 1rem;
    /* margin-top: 2rem; */
    margin-bottom: 3rem;
        /* background-color: rgba(0, 255, 0, 0.1); */
      
  }
  
  .container {
    height: 33rem;
    width: 45%;
    max-width: 250px;
    background: #7EC8E3;
    padding: 0.5rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
    /* text-align: center; */
    margin-bottom: 3rem;
    /* margin-top: 2rem; */
    /* background-color: rgba(0, 255, 0, 0.1); */

  }
.container h1,
.container h2
{
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
}
  
  .container img {
    height: 20rem;
    width: 100%;
   border-radius: 10px;
    /* object-fit: cover; */
  }
  
  .container button{
    height: 2rem;
    width: 42%;
    background-color: #5C7285;
    color: #fff;
    margin-top: 1rem;
    margin-left: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
  }
  .container button:hover{
    text-decoration: underline 0.2rem;
    color: black;
    background-color: #9FB3DF;
  }