*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}
.naw{
    height: 5rem;
    width: 100%;
    display: flex;
    /* background-color:black; */
}



.naw ul{
    margin-top: 1rem;
    margin-left: 33rem;
    display: flex;
    gap: 5rem;
    text-decoration: none;
}
.naw li{
    font-size:  2rem;
    font-weight: inherit;
   font-style: none;
   font-family: Georgia, serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    /* color: #000; */
    transition: 0.2s;
}

.naw h1 a {
    font-size: 4rem;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: blue;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 2rem;
}

.naw h1 a:hover {
    color: black;
    text-decoration: none; 
}

.naw ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    transition: 0.3s;
}

.naw ul li a:hover {
    color: red;
    text-decoration: underline;
}

/* Idea */
.idea{
    height: 36.1rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
.idea-1{
    height: 36.1rem;
    width: 100%;
    /* background-color: #000;    */
    /* display: grid; */
}
.idea-1 h1{
    font-size: 4.4rem;
    font-weight: 900;
    margin-left: 4rem;
    margin-top: 6rem;
    font-family: serif;
    /* color: white; */
}
.idea-1 p{
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-left: 4rem;
    font-variant: inherit;
    color: #4D55CC;
}
.btn-sec{
    height: 13rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
.idea-1 .GIT{
    height: 5rem;
    width: 10%;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 5px;
    display: grid;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.idea-1 .GIT img{
    height: 3rem;
    width: 50%;
    /* align-items: center; */
    /* justify-items: center; */
    margin-left: 1rem;
}
.idea-1 .ins{
    height: 5rem;
    width: 10%;
    background-color: gray;
    border: none;
    outline: none;
    border-radius: 5px;
    /* display: grid; */
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-top: 2rem;
}
.idea-1 .ins img{
    height: 3rem;
    width: 50%;
    /* align-items: center; */
    /* justify-items: center; */
    margin-left: 1rem;
}
.idea-2{
    height: 36.1rem;
    width: 100%;
    /* background-color: black;    */
}
.idea-2 img{
    height: 22rem;
    width: 50%;
    border-radius: 100%;
    margin-left: 9rem;
    margin-top: 4rem;
    /* border: 1rem solid blue; */
    box-shadow: 10px 15px 15px #A59D84;
}
