* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red; */
}

.naw {
    height: 5rem;
    width: 100%;
    display: flex;
    /* background-color:black; */
}

.naw ul {
    margin-top: 1rem;
    margin-left: 33rem;
    display: flex;
    gap: 5rem;
    text-decoration: none;
}

.naw li {
    font-size: 2rem;
    font-weight: inherit;
    font-style: none;
    font-family: Georgia, serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    /* color: #000; */
    transition: 0.2s;
}

.naw h1 a {
    font-size: 4rem;
    text-decoration: none;
    font-weight: bolder;
    font-style: italic;
    color: blue;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 2rem;
}

.naw h1 a:hover {
    color: black;
    text-decoration: none; 
}

.naw ul li a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    transition: 0.3s;
}

.naw ul li a:hover {
    color: red;
    text-decoration: underline;
}

/* Idea */
.idea {
    height: 30rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
.idea-1 {
    height: 30rem;
    width: 100%;
}
.idea-1 h1 {
    font-size: 4.4rem;
    font-weight: 900;
    margin-left: 4rem;
    margin-top: 6rem;
    font-family: serif;
    /* color: white; */
}
.idea-1 p {
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-left: 4rem;
    font-variant: inherit;
    color: blue;
}
.btn-sec {
    height: 13rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
.idea-1 .GIT {
    height: 5rem;
    width: 14%;
    background-color: #3C3D37;
    border: none;
    outline: none;
    border-radius: 5px;
    display: grid;
    text-align: center;
    cursor: pointer;
    color: white;
    /* color: 3C3D37; */
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
    box-shadow: 12px 12px 2px 1px #22177A;

}
.idea-1 .GIT img {
    height: 3rem;
    width: 50%;
    margin-left: 1.3rem;
}
.idea-1 .insta {
    height: 5rem;
    width: 14%;
    background-color: #3C3D37;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-top: 2rem;
    display: grid;
    align-items: center;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
    box-shadow: 12px 12px 2px 1px #22177A;

    justify-content: center;
}
.idea-1 .insta img {
    height: 3rem;
    width: 50%;
    margin-left: 1.3rem;
}
.idea-1 .linkdin {
    height: 5rem;
    width: 14%;
    background-color: #3C3D37;
    border: none;
    outline: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 5rem;
    margin-top: 2rem;
    display: grid;
    align-items: center;
    justify-content: center;
    /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
    box-shadow: 12px 12px 2px 1px #22177A;
    ;

}
.idea-1 .linkdin img {
    height: 3rem;
    width: 50%;
    margin-left: 1.2rem;
}
.idea-1 .GIT:hover,
.idea-1 .insta:hover,
.idea-1 .linkdin:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    text-decoration: underline;
}


.idea-2 {
    height: 30rem;
    width: 100%;
}
.idea-2 img {
    height: 22rem;
    width: 50%;
    border-radius: 100%;
    margin-left: 9rem;
    margin-top: 4rem;
    /* box-shadow: 10px 15px 15px #A59D84; */
    /* clip-path: xywh(0 5px 100% 75% round 15% 0); */
}
.idea-2 img:hover {
    transform: translateY(-10px) scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.Third-sec{
    height: 93rem;
    width: 100%;
    /* background-color: green; */
}

.Third-sec h1 {
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;           
    border-bottom: 0.4rem solid blue; 
    padding-bottom: 1rem;  
    margin-left: 38rem;     
    margin-top: 4rem;   
    /* padding-top: 2rem; */
}
.Third-1{
    height: 30rem;
    width: 80%;
    border-radius: 10px;
    /* background-color: green; */
    margin-top: 2rem;
    margin-left: 9rem;
    /* display: flex; */
}
.html{
    height: 9rem;
    width: 17%;
    margin-top: 8rem;
    margin-left: 6rem;
}
.css{
    height: 9rem;
    width: 14%;
    margin-left: 1rem;
}
.js{
    height: 9rem;
    width: 14%;
    margin-left: 4rem;
}
.react{
    height: 9rem;
    width: 17%;
    margin-left: 4rem;
}
.Third-2{
    height: 30rem;
    width: 90%;
    /* background-color: black; */
    margin-top: 4rem;
    border-radius: 10px;
    display: flex;
}
.Third-2 .sec-1{
    height: 30rem;
    width: 54%;
    /* background-color: green; */
    border: 1rem black;
}
 .sec-1 h2{
    font-size: 3rem;
    font-weight: bolder;
    color: #393E46;
    margin-top: 10rem;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}
.sec-1 p{
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 2rem;

    color: #393E46;

}
.Third-2 .sec-2{
    height: 30rem;
    width: 50%;
    /* background-color: yellowgreen; */
    /* display: block; */
}
.Third-2 .sec-2 img{
    height: 30rem;
    width: 100%;
    /* display: block; */
    border-radius: 10px;
}
.Third-3{
    height: 27rem;
    width: 90%;
    /* background-color: red; */
    margin-top: 3rem;
    border-radius: 10px;
    display: flex;

}
.Third-3 .sec-4{
    height: 27rem;
    width: 31rem;
    /* background-color: yellowgreen; */
}
.Third-3 .sec-4 img{
    height: 27rem;
    width: 30.5rem;
    border-radius: 10px;
}
.Third-3 .sec-5{
    height: 27rem;
    width: 31rem;
    /* background-color: orange; */
}
.Third-3 .sec-5 h3{
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Gill Sans", sans-serif;
    margin-top: 8rem;
    color: #393E46;
    /* color: blue; */
    text-align: center;
}
.Third-3 .sec-5 p{
    font-size: 2rem;
    font-family: serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 1rem;
    color: #393E46;
}
/* footer */
footer{
    height: 18rem;
    width: 100%;
    background-color:#222831;
}
footer h1{
    font-size: 4rem;
    font-weight: 900;
    padding-top: 3rem;
    text-align: center;
    color: blue;
    font-family: "Gill Sans", sans-serif;
}
footer h5{
    font-size: 2rem;
    font-family: serif;
     color: white;
    font-weight: lighter;
    text-align: center;

}

@media (max-width: 768px) {
    .naw {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .naw ul {
        margin-top: 1rem;
        margin-left: 0;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }
    .naw li {
        font-size: 1.6rem;
    }
    .naw h1 a {
        font-size: 3rem;
        margin-left: 0;
    }
    .idea {
        flex-direction: column;
        align-items: center;
    }
    .idea-1 {
        text-align: center;
    }
    .idea-1 h1 {
        font-size: 3rem;
        margin-left: 0;
        margin-top: 2rem;
    }
    .idea-1 p {
        font-size: 2rem;
        margin-left: 0;
        margin-top: 1rem;
    }
    .btn-sec {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .idea-1 .GIT,
    .idea-1 .insta,
    .idea-1 .linkdin {
        width: 60%;
        margin-left: 0;
    }
    .idea-2 img {
        height: 18rem;
        width: 18rem;
        margin: 2rem 0;
    }
}

@media (max-width: 480px) {
    .naw li {
        font-size: 1.4rem;
    }
    .naw h1 a {
        font-size: 2.5rem;
    }
    .idea-1 h1 {
        font-size: 2.5rem;
    }
    .idea-1 p {
        font-size: 1.6rem;
    }
    .idea-1 .GIT,
    .idea-1 .insta,
    .idea-1 .linkdin {
        width: 80%;
    }

    .idea-2 img {
        height: 15rem;
        width: 15rem;
        margin-top: 10rem;
        margin-left: 3rem;
    }
}
