* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

.nav-1 {
  height: 5rem;
  width: 100%;
  background: linear-gradient(black, #1B56FD);
}

.nav-1 h1 {
  font-size: 5rem;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #271FB4;
  text-align: center;
}

span {
  color: white;
}

.container0 {
  height: 35rem;
  width: 100%;
  background-color: blue;
  display: flex;
  flex-wrap: wrap; /* Ensures the content wraps on smaller screens */
}

.container01 {
  height: 35rem;
  width: 50%;
  background: linear-gradient(215deg, black 60%, #261FB3 100%);
}

.container01 h1 {
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-left: 5rem;
  margin-top: 1rem;
}

.container01 button {
  height: 3rem;
  width: 23%;
  font-size: 1rem;
  font-weight: lighter;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-left: 5rem;
  margin-top: 1rem;
  color: white;
  background-color: blue;
  cursor: pointer;
  transition: 0.3s ease;

}

.container01 button:hover {
  background-color: white;
  color: black;
}

.container02 {
  height: 35rem;
  width: 50%;
  background-color: black;
}

.container02 img {
  height: 35rem;
  width: 100%;
  object-fit: cover; 
}


@media (max-width: 1024px) {
  .container01, .container02 {
    width: 100%;
    height: auto; }
  
  .container01 h1 {
    font-size: 3rem;
    margin-left: 2rem; 
  }

  .container01 button {
    width: 40%;
    margin-left: 2rem; 
  }

  .nav-1 h1 {
    font-size: 3rem;
  }
}


@media (max-width: 768px) {
  .container0 {
    height: auto; 
    flex-direction: column; 
  }

  .container01 h1 {
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
  }

  .container01 button {
    width: 50%; 
    margin-left: 0;
    margin-top: 1rem;
  }

  .nav-1 h1 {
    font-size: 2.5rem;
  }

  .container02 img {
    height: 25rem; 
  }
}