* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-watch {
    height: 5rem;
    width: 100%;
    background-color: red;
}

.nav-watch h1 {
    background-color: yellow;
    color: green;
    display: inline; 
     font-size: 4rem;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #271FB4;
      }

