*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;  
 background-color: black;
}
.nav-1{
    height: 5rem;
    width: 100%;
    /* background-color: red; */
    background: linear-gradient( black , #1B56FD );

}
.nav-1 h1{
  font-size: 5rem;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  /* margin-left: 10rem; */
  text-align: center;
}
span{
  color: white;
}
.container0{
  height: 35rem;
  width: 100%;
  background-color: blue;
  display: flex;
}
.container01{
  height: 35rem;
  width: 50%;
  /* background-color: brown; */
  background: linear-gradient(215deg, black 60%, #1B56FD 100%);

}
.container01 h1{
  font-size: 4rem;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin-left: 5rem;
}
.container02{
  height: 35rem;
  width: 50%;
  background-color: black;
}
.container02 img{
  height: 35rem;
  width: 100%;
  /* background-color: black; */
}