*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
nav{
    height: 7rem;
    width: 100%;
    background-color: white;
    display: flex;
}
nav h1{
    padding-top: 4.3rem;
}
nav .me{
    color: black;
    transition: 0.2s;
   padding-left: 2rem;
}

nav ul {
    margin-left: 3rem;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    position: relative;

}
nav a{
    text-decoration: none;
    color: #000;
}
h4{
    position: absolute;
    padding-left: 80rem;
    cursor: pointer;
    padding-top: 0.3rem;
}
h5{
    position: absolute;
    padding-left: 75rem;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 0.3rem;

}
nav li {
    font-size: 1.4rem;
    font-weight: inherit;
    font-style: none;
    font-family: Georgia, serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #000;
    transition: 0.2s;
    padding-top: 4.3rem;
}
nav input{
    height: 3rem;
    width: 13rem;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 3rem;
    margin-left: 17rem;
    background-color: #DBDBDB;
    transition: 0.2s;
}
 input[type="text"]{
    font-size: 1.1rem;
    padding-left: 0.4rem;
}
input[type="text"]:hover{
    /* background-color: #2973B2; */
    width: 15rem;
}

nav .me:hover{
    text-decoration: underline blue 0.2rem;
}
nav li :hover{
    text-decoration: underline blue 0.1rem;
}
nav h4:hover{
    color: blue;
}
nav h5:hover{
    color: blue;
}
/* imgSec */
.img-sec{
    height: 35rem;
    width: 100%;
    display: flex;
    /* margin-top: 1rem; */

}

/* .img-1{
    height: 35rem;
    width: 100%;
    background-color: black;
    position: relative;


 }
.img-1 img{
    height: 35rem;
    width: 100%;
   display: block;
}
.img-1 h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
} */
.img-1 {
    height: 35rem;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .img-1 img {
    height: 35rem;
    width: 100%;
    /* display: block; */
  }
  
  .img-1 h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F7F7F7;
  }
  .img-1 h2 {
    position: absolute;
    top: 44%;
    left: 21%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 p {
    position: absolute;
    top: 56%;
    left: 14%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 1.2rem;
    /* font-weight: bold; */
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 .imh{
    position: absolute;
    top: 62%;
    left: 14%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 1.2rem;
    /* font-weight: bold; */
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 button{
    position: absolute;
    top: 73%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
.img-1 button:hover{
    color: black;
    background-color: white;
}