*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Third start */
.nava-2{
    height: 5rem;
    width: 100%;

}
.nava-2 ol{
    display: flex;
    margin-left: 18rem;
    margin-top: 2rem;
    gap: 1rem;
    /* position: relative; */
}
.nava-2 ul{
   font-size: 1.3rem;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: bolder;
   cursor: pointer;
}
.nava-2 ul:hover{
    text-decoration: underline black 0.2rem;
}
.sac{
    height: 35rem;
    width: 100%;
    display: flex;
}
.sac-1 img{
    height: 35rem;
    width: 100%;
    background-color: black;
    margin-left: 2rem;
    margin-right: 1rem;
        border-radius: 10px;
    position: relative;
    margin-top: 1rem;

}
.sac-1 h1{
    position: absolute;
    top: 80rem;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    /* color: white; */
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F7F7F7
}
.sac-1 p{
    position: absolute;
    top: 83rem;
    left: 10%;
    /* transform: translate(-50%, -50%); */
    /* color: white; */
    font-size: 1rem;
    font-weight: lighter;
    border-radius: 5px;
    background-color: #F7F7F7
}
.sac-1 button{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 85rem;
    left: 21%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}
.sac-1 button:hover{
    background-color: white;
    color: black;
}
.sac-2{

    height: 37rem;
    width: 50%;
    /* background-color: red; */
    margin-left: 3rem;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}
.sac-2 .call-1{
    height: 17rem;
    width: 39%;
    background-color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.call-1 img{
    height: 17em;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.call-1 h1{
    position: absolute;
    top: 64rem;
    margin-left: 4rem;
    background-color: transparent;
}
.call-1 button{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 67rem;
    left: 57%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}
.call-1 button:hover{
    background-color: white;
    color: black;}

.sac-2 .call-2{
    height: 17rem;
    width: 39%;
    background-color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.call-2 img{
    height: 17em;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.call-2 h1{
    position: absolute;
    top: 64rem;
    margin-left: 4rem;
    background-color: transparent;
}
.call-2 button{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 67rem;
    left: 77%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}
.call-2 button:hover{
    background-color: white;
    color: black;}

    .sac-2 .call-3{
    height: 17rem;
    width: 39%;
    background-color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.call-3 img{
    height: 17em;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.call-3 h1{
    position: absolute;
    top: 83rem;
    margin-left: 4rem;
    background-color: transparent;
}
.call-3 button{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 86rem;
    left: 57%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}
.call-3 button:hover{
    background-color: white;
    color: black;}


 .sac-2 .call-4{
    height: 17rem;
    width: 39%;
    background-color: black;
    margin-top: 1rem;
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.call-4 img{
    height: 17em;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
.call-4 h1{
    position: absolute;
    top: 83rem;
    margin-left: 4rem;
    background-color: transparent;
}
.call-4 button{
    height: 2rem;
    width: 6rem;
    position: absolute;
    top: 86rem;
    left: 77%;
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background-color: black;
    transition: 0.2s;
    cursor: pointer;
}
.call-4 button:hover{
    background-color: white;
    color: black;}
