*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
nav{
    height: 7rem;
    width: 100%;
    background-color: white;
    display: flex;
}
nav h1{
    padding-top: 4rem;
}
nav .me{
    color: black;
    transition: 0.2s;
   padding-left: 2rem;
}

nav ul {
    margin-left: 3rem;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    position: relative;

}
nav a{
    text-decoration: none;
    color: #000;
}
h4{
    position: absolute;
    padding-left: 80rem;
    cursor: pointer;
    padding-top: 0.3rem;
}
h5{
    position: absolute;
    padding-left: 75rem;
    font-size: 1rem;
    cursor: pointer;
    padding-top: 0.3rem;

}
nav li {
    font-size: 1.4rem;
    font-weight: inherit;
    font-style: none;
    font-family: Georgia, serif;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #000;
    transition: 0.2s;
    padding-top: 4rem;
}
nav input{
    height: 3rem;
    width: 13rem;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 3rem;
    margin-left: 8rem;
    background-color: #DBDBDB;
    transition: 0.2s;
}
 input[type="text"]{
    font-size: 1.1rem;
    padding-left: 0.4rem;
}
input[type="text"]:hover{
    /* background-color: #2973B2; */
    width: 15rem;
}
.bab{
    position: relative;
    /* right: 1rem; */
    left: 2rem;
    top: 3.2rem;
    font-size: 2rem;
    color: #706d6d;
    cursor: pointer;
  }
.beb{
    position: relative;
    /* right: 1rem; */
    left: 4rem;
    top: 3.2rem;
    font-size: 2rem;
    color: #706d6d;
    cursor: pointer;
  }
.bab:hover{
    color: blue;
}
.beb:hover{
    color: blue;
}
nav .me:hover{
    text-decoration: underline blue 0.2rem;
}
nav li :hover{
    text-decoration: underline blue 0.1rem;
}
nav h4:hover{
    color: blue;
}
nav h5:hover{
    color: blue;
}
/* imgSec */
.img-sec{
    height: 35rem;
    width: 100%;
    display: flex;
    /* margin-top: 1rem; */

}

.img-1 {
    height: 33rem;
    width: 100%;
    background-color: black;
    position: relative;
  }
  
  .img-1 img {
    height: 33rem;
    width: 100%;
    /* display: block; */
  }
  
  .img-1 h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F7F7F7;
  }
  .img-1 h2 {
    position: absolute;
    top: 44%;
    left: 21%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 3rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 p {
    position: absolute;
    top: 56%;
    left: 14%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 1.2rem;
    /* font-weight: bold; */
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 .imh{
    position: absolute;
    top: 62%;
    left: 14%;
    transform: translate(-50%, -50%);
    /* color: white; */
    font-size: 1.2rem;
    /* font-weight: bold; */
    border-radius: 5px;
    background-color: #F7F7F7;
    display: block;
  }
  .img-1 button{
    position: absolute;
    top: 73%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
.img-1 button:hover{
    color: black;
    background-color: white;
}
.tum{
    position: absolute;
    top: 20rem;
    /* left: 70%; */
    margin-left: 80rem;
    /* transform: translate(-50%, -50%); */
    padding: 10px 20px;
    background-color: rgb(150, 150, 150); 
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: inline;
    transition: 0.3s;
  }
.next{
    height: 35rem;
    width: 100%;
    /* display: flex; */
    position: relative;
}
.next img{
    height: 35rem;
    width: 100%;
    /* position: absolute; */
}
.next h1{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 10rem;
    left: 5rem;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* padding: 10px 20px; */
    background-color: transparent;
    color: black;
    border: none;

}
.next h2{
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 14rem;
    left: 5rem;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* padding: 10px 20px; */
    background-color: transparent;
    color: black;
    border: none;

}
.next p{
    /* font-size: 3rem; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    top: 19rem;
    left: 5rem;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* padding: 10px 20px; */
    background-color: transparent;
    color: black;
    border: none;
}
.next button{
    position: absolute;
    top: 70%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
  }
.next button:hover{
    color: black;
    background-color: white;
}

.fade {
    animation: fadein 1s ease-in-out;
  }
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.latest-off{
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem
}
