
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 4rem; 
    width: 100%;
    /* background-color: #333; */
    display: flex; 
    /* align-items: center;  */
    justify-content: space-between;
    /* padding: 0 2rem; */
}

nav h1 {
    font-size: 3rem;
    color: #000000;
    /* margin-left: 3rem; */
}
nav h1 a{
    text-decoration: none;
    color: #000000;
    margin-left: 6rem;
    transition: 1s;
}
nav a:hover{
    text-decoration: underline #fadc5c;
    color: #ebc744;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }}
nav ul {
    margin-left: 2rem; 
    margin-right: 5rem; 
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 4rem;
    margin-top: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #e6c744;
}
nav ol {
    list-style: none;
}

nav  button {
    height: 2rem;
    width: 5rem;
    background-color: #000 !important;  
    color: white !important;  
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    /* margin-left: 4rem; */
}

nav ol button:hover {
    background-color: #444; }


nav ol button:hover {
    background-color: #444;
}
.signup-container{
    height: 20rem;
    width: 26%;
    /* background-color: red; */
    /* display: grid; */
    border-radius: 10px;
    background-color: #c2c8da;
    margin-left: 30rem;
    margin-top: 4rem;
    box-shadow: 10px 20px 20px #E5D9F2;

}

.signup-container h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 1rem;
}
.signup-container .name input{
    height: 2rem;
    width: 60%;
    border: none;
    outline: none;
    margin-left: 0.2rem;
    border-radius: 5px;
    margin-top: 1rem;
    /* background-color: #D3DBD6; */
    background-color: lightblue; 

}
 .signup-container .name label{
    margin-left: 2rem;
} 
.signup-container .email input{
    height: 2rem;
    width: 60%;
    border: none;
    outline: none;
    margin-left: 0.2rem;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: lightblue; 
}
.signup-container .email label{
    margin-left: 2rem;
} 
.signup-container .password input{
    height: 2rem;
    width: 60%;
    border: none;
    outline: none;
    margin-left: 0.2rem;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: lightblue; 
}
.signup-container .password label{
    margin-left: 1rem;
} 
.signup-container .submit{
    background-color: #73b8d0;
    height: 2rem;
    width: 4rem;
    outline: none;
    border: none;
    margin-top: 1rem;
    margin-left: 8rem;
    border-radius: 5px;
    cursor: pointer;
}
.signup-container .submit:hover{
    text-decoration: underline;
}
/* second */
.main{
    height: 37rem;
    width: 87%;
    /* background-color: red; */
    margin-left: 6rem;
    margin-top: 2rem;
    display: flex;
    border-radius: 40px;
    background-color: rgba(243, 246, 245);
}
.container-1{
    height: 37rem;
    width: 40rem;
    /* background-color: blue; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    /* background-color: #c2c8da;/ */
}
.container-1 h1{
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: 4rem;
}
.container-1 .white{
    width: 20rem;
    background-color: white ;
    margin-top: 4rem;
    padding-left: 2rem;
    transform: rotate(-1deg);


}
.container-1 .gold{
    width: 25rem;
    /* background-color: rebeccapurple; */
    padding-left: 1rem;
    background-color: #ebc744;
    transform: rotate(-1deg);

}
.container-1 p{
    margin-left:4.1rem;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: lighter;
}
.container-1 button{
    height: 3rem;
    width: 20%;
    background-color: #000000;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 4rem;
    border-radius: 5px;
    cursor: pointer;
}
.container-1 button:hover{
    color: #ebc744;
}
.container-2{
    height: 37rem;
    width: 35rem;
    background-color: green;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #c2c8da;
    display: flex;

}
.container-2 img{
    height: 37rem;
    width: 35rem;
    /* margin-top: 7rem; */
    transform: scale(1);
 
}



/* brands */
.brands{
    height: 7rem;
    width: 100%;
    background-color: #e6c744;
    margin-top: 2rem;
}
.brands  .red{
    color: red;
    font-family: inherit;
    margin-left: 2rem;
    font-style: italic;
    margin-top: 2rem;
    text-decoration: none;
}
.red img{
    height: 3rem;
    width: 12rem;
}

.obey img{
    height: 3rem;
    width: 12rem;
    margin-top: 2rem;
    transform: scale(0.9);
}
.shopify img{
    width: 10rem;
}
.laco img{
    width: 10rem;
    margin-top: 2.4rem;
}
.levi img{
    height: 3rem;
    width: 10rem;
    margin-top: 2.3rem;
}
.ama img{
    height: 3rem;
    margin-top: 2.2rem;
    margin-right: 2rem;
}











/* Third */
.Third{
    height: 35rem;
    width: 87%;
    /* background-color: red; */
    margin-top: 1rem;
    margin-left: 6rem;
    display: flex;
    /* gap: 3rem; */
}
.Third-heading{
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: scale(1.3);

}
.new-arr{
    height: 30rem;
    width: 28%;
    /* background-color:gold; */
    margin-top: 3rem;
    /* display: grid; */
    border-radius: 10px;
    margin-left: 3rem;
}
.new-arr img{
    height: 25rem;
    width: 100%;
    border-radius: 10px;
    /* transform: scale(3); */


}
.new-arr  h1{
    font-family: inherit;
}
.new-arr p{
    color: #8F8F8F;
}
/* sale-now */
.sale-now{
    height: 40rem;
    width: 100%;
    /* background-color: red; */
    /* background-color:rgb(250, 220, 92); */
    background-color: #fadc5c;
    /* background-color: rgb(240, 200, 40); */
    /* background-color: #f0c828; */


    display: flex;
}
.sale-now1{
    height: 40rem;
    width: 50%;
    /* background-color:  red; */
    background-color: #ebc744;

}
.sale-now1 img{
    height: 40rem ;
    width: 100%;
    /* margin-top: 1rem; */
    /* margin-left: 8.3rem; */

}
.sale-now2{
    height: 40rem;
    width: 50%;
    /* background-color: #e6c744; */
    /* background-color: yellow; */
    display: grid;
}
.sale-now2  .white{

    background-color: #ffffff;
    width: 24rem;
    padding-left: 2rem;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: 4rem;
    margin-top: 2rem;
    transform: rotate(-1deg);
}
.sale-now2 h1{
    padding-left: 2rem;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-left: 3.2rem;
    margin-top: 1rem;
}
.sale-now2 p{
    font-family: 'Poppins', sans-serif;
    margin-left: 6rem;
    font-size: 1.5rem;
}
.sale-now2 h2{
    margin-top: 1rem;
    margin-left: 6rem;
    font-size: 2rem;
}
.sale-now2 span{
    font-size: 2rem;
    /* margin-top: 1rem; */
    margin-left: 5rem;
}
.sale-now2 button{
    height: 3rem;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    margin-left: 6.3rem;
}
.fouth-heading{
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: 6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* young-fav */
/* Fouth */
.young-fav{
    height: 30rem;
    width: 87%;
    /* background-color: red; */
    margin-left: 5rem;
    display: flex;
    margin-top: 2rem;

}
.young-fav1{
    height: 30rem;
    width: 50%;
    /* background-color: green; */
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.young-fav1 img{
    height: 25rem;
    width: 100%;
    border-radius: 10px;
}
.young-fav1 span{
    margin-left: 23rem;
    cursor: pointer;
}
.young-fav2{
    height: 30rem;
    width: 50%;
    /* background-color: tan; */
    margin-left: 2rem;
    border-radius: 10px;
    display: grid;
}
.young-fav2 img{
    height: 25rem;
    width: 100%;
    border-radius: 10px;
}
.young-fav2 span{
    margin-left: 19rem;
    cursor: pointer;
}
.container-5{
    height: 40rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
}
.container-5-1{
    height: 40rem;
    width: 50%;
    /* background-color: yellow; */
    /* display: grid; */
}
.container-5-1 .down{
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 13rem;
    margin-left: 8rem;
}
.container-5-1 .abc{
    margin-left: 8rem;
    margin-top: 3rem;
    color: #444;
}
.container-5-1 button{
    height: 3rem;
    width: 20%;
    background-color: #000000;
    margin-top: 4rem;
    margin-left: 3rem;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
}
.container-5-1 button:hover{
    color: #ebc744;
}
.container-5-2{
    height: 40rem;
    width: 50%;
    background-color: green;
}
.container-5-2 img{
    height: 40rem;
    width: 100%;
}
.section-5{
    height: 25rem;
    width: 100%;
    background-color: #ebc744;
    /* display: grid; */
    /* margin-top: 2rem; */
}
.section-5 .babar{
    padding-left: 22rem;
    color: #ffffff;
    font-size: 2.3rem;
    font-weight: bolder;
    padding-top: 6rem;
}
.section-5 p{
    margin-left: 12rem;
    color: #ffffff;
    font-size: 2.2rem;
    margin-top: 1rem;
    font-weight: lighter;
    transform: scale(0.7);
}
.search{
    height: 3rem;
    width: 20%;
    background-color: #ffffff;
    border-radius: 6px;
    margin-left: 31rem;
    margin-top: 2rem;

}
.search input{
    height: 3rem;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 6px;
}
.search button{
    height: 2.3rem;
    width: 5rem;
    margin-top: 0.1rem;
    margin-left: 0.2rem;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}
/* last */
.last{
    height: 25rem;
    width: 100%;
    background-color: #000000;
    display: flex;
}
.last-1{
    height: 25rem;
    width: 59%;
    /* background-color: red; */
   
}
.last-1 h1{
    margin-top: 6rem;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 2.3rem;
    color: #ffffff;
}
.last-1 p{
    margin-left: 3rem;
    margin-top: 1rem;
    color: #ffffff;
}
.last-2{
    height: 25rem;
    width: 59%;
    /* background-color: green; */
    display: flex;
}
.socail-container{
    height: 10rem;
    width: 50%;
    /* background-color: yellow; */
    margin-left: 2rem;
    margin-top: 1rem;
    display: flex;
}
.insta{
    height: 2rem;
    width: 10%;
    background-color: #e6c744;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.ins{
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
.face{
    height: 2rem;
    width: 10%;
    background-color: #ebc744;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.fac{
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
.twitter{
    height: 2rem;
    width: 12%;
    background-color: #e6c744;
    margin-left: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
.twi{
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
.linkdin{
    cursor: pointer;
    height: 2rem;
    width: 12%;
    background-color: #e6c744;
    margin-left: 1rem;
    border-radius: 6px;
}
.lind{
    margin-left: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.4rem;
}
.comp-name{
    height: 23rem;
    width: 20%;
    /* background-color: red; */
    margin-top: 0.5rem;
    margin-left: 1rem;
    
}
.comp-name h1{
    margin-top: 3rem;
    color: #ffffff;
    cursor:pointer;
}
.comp-name h1:hover{
    color: #ebc744;
}
.comp-name p{
    margin-top: 2rem;
    color: #ffffff;
    cursor: pointer;
}
.quick-link{
    height: 23rem;
    width: 24%;
    /* background-color: red; */
    margin-top: 0.5rem;
    margin-left: 4rem;
}
.quick-link h1{
    margin-top: 3rem;
    color: #ffffff;
    cursor: pointer;
}
.quick-link h1:hover{
    color: #ebc744;
}
.quick-link p{
    margin-top: 2rem;
    color: #ffffff;
    cursor: pointer;
}
.legal{
    height: 23rem;
    width: 20%;
    /* background-color: red; */
    margin-top: 0.5rem;
    margin-left: 7rem;
}
.legal h1{
    margin-top: 3rem;
    color: #ffffff;
    cursor: pointer;
}
.legal h1:hover{
    color: #ebc744;
}
.legal p{
    cursor: pointer;
    margin-top: 2rem;
    color: #ffffff;
}