* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
.specil {
height: 35rem;
 width: 23%;
 background-color: #27548A;
margin-left: 35rem;
margin-top: 2rem;
border-radius: 10px;
display: grid;
}
    
.specil img {
 height: 20rem;
 width: 100%;
border-radius: 10px;
}
    
.specil h1 {
font-size: 2rem;
font-weight: bold;
font-family: sans-serif;
margin-left: 1rem;
margin-top: 0.4rem;
color: white;
}

.specil button {
 height: 2rem;
width: 30%;
background-color: gray;
color: white;
font-size: 1rem;
border-radius: 10px;
outline: none;
border: 0;
margin-left: 1rem;
margin-top: 0.4rem;
cursor: pointer;
 }
    
@media (max-width: 768px) {
.specil {
width: 90%;
margin-left: auto;
margin-right: auto;
height: auto;
}
    
.specil img {
 height: auto;
}
    
.specil h1 {
 font-size: 1.5rem;
}
    
.specil button {
    width: 50%;
    font-size: 0.9rem;
    }
    }
    