*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: blue;
}
.calculater{
    height: 27rem;
    width: 22%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}
form input{
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: lightblue;
    margin: 2px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
form input[type="button"]:hover{
    background-color: purple;
}
form .display{
    display: flex;
    justify-content: flex-end;
    /* background-color: black; */
    margin: 5px 0px 15px 0px;
}
form .display input{
    flex: 1;
    text-align: right;
    font-size: 40px;
    padding: 5px 10px;
    background-color: rgb(14, 11, 11);
}
form input.equal{
    width: 120px;
}